*.aux
*.log
*.out
main.pdf
*.gz
*.RData
codes/hist_depth_2.pdf
codes/hist_depth_3.pdf
codes/hist_depth_4.pdf
codes/hist_depth_5.pdf
codes/hist_nl_1.pdf
codes/hist_nl_2.pdf
codes/hist_nl_3.pdf
codes/hist_nl_4.pdf
codes/hist_nl_5.pdf
codes/mcmc_rho_1.pdf
codes/mcmc_rho_2.pdf
codes/mcmc_rho_3.pdf
codes/mcmc_rho_4.pdf
codes/mcmc_rho_5.pdf
codes/predicted_rho_1.pdf
codes/predicted_rho_2.pdf
codes/predicted_rho_3.pdf
codes/predicted_rho_4.pdf
codes/predicted_rho_5.pdf
codes/simulated_copula_1.pdf
codes/simulated_copula_2.pdf
codes/simulated_copula_3.pdf
codes/simulated_copula_4.pdf
codes/simulated_copula_5.pdf
codes/trace_depth_1.pdf
codes/trace_depth_2.pdf
codes/trace_depth_3.pdf
codes/trace_depth_4.pdf
codes/trace_depth_5.pdf
codes/trace_nl_1.pdf
codes/trace_nl_2.pdf
codes/trace_nl_3.pdf
codes/trace_nl_4.pdf
codes/trace_nl_5.pdf
codes/true_rho_copula.pdf
codes/hist_depth_1.pdf
codes/.Rhistory
codes/.Rhistory
codes/.Rhistory
codes/.Rhistory
codes/.Rhistory
codes/.Rhistory
*.bbl
*.blg
